.col {
  flex: 1;
  min-width: 250px;
  margin: 5px;
  padding: 3px;
  position: relative;
}

.close {
  color: inherit;
  background-color: inherit;
  border: inherit;
  position: absolute;
  right: 5px;
}

.close:hover {
  background-color: red;
  color: white;
  border: 1px solid red;
  cursor: pointer;
}

.close:after {
  content: "X";
}

.recent {
  width: 250px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
